In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
#Mempersiapkan Data Frame

d = {'Nama Mahasiswa':['Christo', 'Louis', 'Mei', 'Keyko', 'Evan'],
     'IPK':[3, '3.7', 4, 3.9, '3.8']}

df = pd.DataFrame(d)
df

  Nama Mahasiswa  IPK
0        Christo    3
1          Louis  3.7
2            Mei    4
3          Keyko  3.9
4           Evan  3.8

In [3]:
#Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

df.dtypes #Mengetahui tipe data dalam kolom

Nama Mahasiswa    object
IPK               object
dtype: object

In [4]:
df['IPK'].apply(type) #Fungsi type akan dikenakan ke setiap baris dari kolom IPK

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: IPK, dtype: object

In [5]:
df['IPK'].apply(type).value_counts() #ketika memanggil method value_counts berarti kita mencoba melakukan perhitungan jumlah dari tiap data type yang berbeda

<class 'str'>      2
<class 'int'>      2
<class 'float'>    1
Name: IPK, dtype: int64

In [6]:
df['IPK'] = df['IPK'].astype(float)

In [7]:
df['IPK'].apply(type).value_counts()

<class 'float'>    5
Name: IPK, dtype: int64