In [1]:
#Mengimport modules terlebih dahulu

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [2]:
#Mempersiapkan Data Frame

n_rows = 8
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99, size=(n_rows, n_cols)), #Nilai acak yang berupa nilai bulat
                  columns=cols)
df

   usia
0    70
1    85
2     8
3    82
4    56
5    66
6    64
7     2

In [3]:
#Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

#Kolom baru
df['Kelompok_Usia'] = pd.cut(df['usia'], #Mengkonversi nilai numerik usia ke dalam kategori
                             bins = [0, 18, 65, 99],
                             labels = ['Anak', 'Dewasa', 'Manula']) #Anak 0-18th, Dewasa 18-65th, Manula 65-99th 
df

   usia Kelompok_Usia
0    70        Manula
1    85        Manula
2     8          Anak
3    82        Manula
4    56        Dewasa
5    66        Manula
6    64        Dewasa
7     2          Anak