In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
#Membuat Data Frame dari hasil seleksi Spreadsheet

df = pd.read_clipboard()
df

       NRP           Nama
0  2073028  Michael Gihon
1  2073029           Ryan
2  2073030          Syifa
3  2073031          Louis