In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [4]:
#Membentuk Data Frame dari Dictionary dengan cara pertama

pd.DataFrame({'col1':[3, 4, 5, 6],
              'col2':[7, 8, 9, 10]})

   col1  col2
0     3     7
1     4     8
2     5     9
3     6    10

In [5]:
#Membentuk Data Frame dari numpy Array dengan cara kedua

n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols)) 
arr

array([[18, 12, 14],
       [ 1,  3,  5],
       [12,  5, 17],
       [17, 14,  5],
       [ 8,  4, 19]])

In [6]:
pd.DataFrame(arr, columns=tuple('ABC')) #Untuk membuat label kolom pada data array yang diatas

    A   B   C
0  18  12  14
1   1   3   5
2  12   5  17
3  17  14   5
4   8   4  19

In [7]:
#Membentuk Data Frame dengan memanfaatkan pandas.util.testing

pd.util.testing.makeDataFrame().head()

C:\Users\asus\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
YMch23cxgU -0.308545  1.519077  2.240262  2.261338
9khMj8RgwN  0.279708 -1.345789 -0.021811  0.993090
0f6ZsDNi0g  1.251683 -0.246198  1.863091  1.447203
xcEGWoxNDy -1.649941  0.192789  0.055472  1.489917
4ksIsEw9s9 -0.659404  0.700953  0.741202 -1.036640

In [8]:
pd.util.testing.makeMixedDataFrame().head() #Tipe data campur

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [9]:
pd.util.testing.makeTimeDataFrame().head() #Berisi deret waktu

                   A         B         C         D
2000-01-03 -0.295061 -0.797186  0.349254 -0.731250
2000-01-04 -2.294058  0.105802 -0.358062 -1.095859
2000-01-05  0.699472  1.725029  0.396277 -0.231248
2000-01-06  0.214554 -0.133017 -0.085149  0.899201
2000-01-07 -0.687522  0.684134 -0.649288 -2.183643

In [10]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
QPD8m9TKs2 -0.832213 -1.788917 -1.421605  0.721668
IvzgWn8Nhj -0.473081  0.874581       NaN  0.442691
9k1E1Jv1vd -0.151677 -0.625130 -1.320971 -0.274593
ZzozH47CrR -0.531934 -1.002537  1.507140       NaN
8fK4dSjUnO -1.500556 -0.625559 -0.299950 -0.246646