In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [3]:
#Mempersiapkan data Frame

data = {'day':[1, 2, 12, 30, 15], #Menampung Tanggal
        'month':[1, 2, 5, 8, 10], #Menampung bulan
        'year':[2001, 2003, 2012, 2016, 2021]} #Menampung tahun

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2001
1    2      2  2003
2   12      5  2012
3   30      8  2016
4   15     10  2021

In [4]:
#Membentuk kolom bertipe datetime

df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']]) #Nama kolom harus day,month,year
df

   day  month  year penanggalan
0    1      1  2001  2001-01-01
1    2      2  2003  2003-02-02
2   12      5  2012  2012-05-12
3   30      8  2016  2016-08-30
4   15     10  2021  2021-10-15

In [5]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object