In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [3]:
#Mempersiapkan data frame

d = {'Hobi':['Berenang', 'Sepak Bola', 'Basket',
             'Basket', 'Basket', 'Lari',
             'Lari', 'Sepak Bola', 'Fotografi',
             'Sepak Bola', 'Camping']}

df = pd.DataFrame(d)
df

          Hobi
0     Berenang
1   Sepak Bola
2       Basket
3       Basket
4       Basket
5         Lari
6         Lari
7   Sepak Bola
8    Fotografi
9   Sepak Bola
10     Camping

In [4]:
#Membuat kategori baru berdasarkan threshold (ambang batas)

df['Hobi'].value_counts() #Memunculkan isi dari kolom hobi tersebut

Basket        3
Sepak Bola    3
Lari          2
Berenang      1
Camping       1
Fotografi     1
Name: Hobi, dtype: int64

In [5]:
persentase = df['Hobi'].value_counts(normalize=True)  #Untuk mengetahui persentasi tiap baris pada kolom hobi
persentase

Basket        0.272727
Sepak Bola    0.272727
Lari          0.181818
Berenang      0.090909
Camping       0.090909
Fotografi     0.090909
Name: Hobi, dtype: float64

In [6]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index  #.index dipanggil karena ingin menyimpan nilai labelnya 
hobi_lain

Index(['Berenang', 'Camping', 'Fotografi'], dtype='object')

In [7]:
df['Hobi'] = df['Hobi'].replace(hobi_lain, 'lainnya') #berenang, camping dan fotografi akan berubah menjadi string lainnya ketika dimasukkan replace
df['Hobi']

0        lainnya
1     Sepak Bola
2         Basket
3         Basket
4         Basket
5           Lari
6           Lari
7     Sepak Bola
8        lainnya
9     Sepak Bola
10       lainnya
Name: Hobi, dtype: object

In [8]:
df['Hobi'].value_counts(normalize=True) #Untuk menghitung proporsinya

Sepak Bola    0.272727
Basket        0.272727
lainnya       0.272727
Lari          0.181818
Name: Hobi, dtype: float64