In [1]:
#Pertama kali mengimport modul
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [2]:
#Persiapan Data Frame
data = {'A':[15, 15, 18, np.nan, 12], #data untuk setiap kolomnya
        'B':[15, 15, 18, np.nan, 12]}
df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [3]:
#Mengenal Pandas Series
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [4]:
type(df['A']) #Untuk mengetahui tipe data

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
#Memeriksa kesamaan dengan operator ==
df['A'] == df['B'] #Untuk Nan dibandingkan dengan Nan hasilnya akan false

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [7]:
#Memeriksa kesamaan dengan method equals()
df['A'].equals(df['B']) #Kedua nilai menampung nilai yang sama

True

In [8]:
#Memeriksa kesamaan antar dua Data Frame
df1 = df.copy(deep=True) #df maupun df1 akan menampung objek dari data frame yang kondisinya sama

df.equals(df1)

True

In [9]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True