In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [2]:
#Mempersiapkan data frame

data = {'Nrp': ['2073001', '2073030', '2073031', '2073032', ' '],
        'Nama': ['Christoper', ' ', 'Louis', ' ', 'Axel']}

df = pd.DataFrame(data)
df

       Nrp        Nama
0  2073001  Christoper
1  2073030
2  2073031       Louis
3  2073032
4                 Axel

In [3]:
#Menangani whitespace pada Data Frame

df

       Nrp        Nama
0  2073001  Christoper
1  2073030
2  2073031       Louis
3  2073032
4                 Axel

In [4]:
df.info() #Tidak terdeteksi sebagai missing value utk kolom nrp dan nama

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nrp     5 non-null      object
 1   Nama    5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [5]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df

       Nrp        Nama
0  2073001  Christoper
1  2073030         NaN
2  2073031       Louis
3  2073032         NaN
4      NaN        Axel

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nrp     4 non-null      object
 1   Nama    3 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes