In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [2]:
#Mempersiapkan Data Frame

n_rows = 15
n_cols = 6
cols = tuple('ABCDEF')

df = pd.DataFrame(np.random.randint(1, 15, size=(n_rows, n_cols)),
                  columns=cols)
df

     A   B   C   D   E   F
0   12   4  10  11   3   4
1    6   1   2  11   8   6
2    5   4  10  11   5   1
3    7   5   9   1  10  13
4   11   3   2  13   8  11
5    6   2   5   7   2   5
6   14   9   4   8   9   6
7    3  11   4   4   8   4
8    8   6   2  14  14   1
9    3   6  14  12  11  14
10  10   5   6   3   6  10
11   1   5   8  13   6   1
12  10   5   5  12   6   4
13   2   5  13  11   3  13
14  12  13  10   5   4   2

In [3]:
#Menghitung jumlah baris menurut kriteria tertentu

(df['A'] < 5).sum() #jumlah baris dari kolom A yang nilainya krg dari 5 ada 4 baris

4

In [4]:
(df['A'] < 5).mean() #menghitung jumlah baris secara proporsional, proporsinya 26%

0.26666666666666666