In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [12]:
#Mempersiapkan Data Frame

d = {'dokter':['Budi', 'Louis', 'Karel', 'Louis', 'Karel', 'Louis'],
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Ani', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1  Louis  Rahmat
2  Karel    Asep
3  Louis     Ani
4  Karel   Wiwin
5  Louis    Lisa

In [13]:
#Mengenal Fungsi Agregasi First() dan last()

df.groupby('dokter')['pasien'].count().to_frame() #Fungsi count untuk mendata jumlah pasien utk stiap dokter yang bertugas

        pasien
dokter
Budi         1
Karel        2
Louis        3

In [14]:
df.groupby('dokter')['pasien'].first().to_frame() #First berguna untuk menampilkan data pada baris pertama setiap kelompoknya

        pasien
dokter
Budi     Abdul
Karel     Asep
Louis   Rahmat

In [15]:
df.groupby('dokter')['pasien'].last().to_frame() #Last berguna untuk menampilkan data pada baris terakhir setiap kelompoknya

       pasien
dokter
Budi    Abdul
Karel   Wiwin
Louis    Lisa