In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [3]:
#Mempersiapkan Data Frame

d1 = {'col1':[3, 4, 5],
      'col2':[30, 40, 50]}

df1 = pd.DataFrame(d1)
df1

   col1  col2
0     3    30
1     4    40
2     5    50

In [6]:
d2 = {'col1':[6, 7, 8],
      'col2':[60, 70, 80]}

df2 = pd.DataFrame(d2)
df2

   col1  col2
0     6    60
1     7    70
2     8    80

In [7]:
#Menggabungkan (merge) dua Data Frame secara berdampingan

df = pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1_x  col2_x  col1_y  col2_y
0       3      30       6      60
1       4      40       7      70
2       5      50       8      80