In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [2]:
#Mempersiapkan Data Frame

n_rows = 6
n_cols = 6
cols = tuple('ABCDEF')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E   F
0  10  19  19   9   9  17
1  19   2  11  15  15   2
2   1  11  19   1  12  16
3   4  12   5   2   8   5
4   2   5   6   8   2   7
5   2  11   3   5   3   5

In [3]:
#Akses nilai variabel Pada Query()

df.query('A > 5')            #query digunakan untuk menyeleksi baris

    A   B   C   D   E   F
0  10  19  19   9   9  17
1  19   2  11  15  15   2

In [4]:
rerata = df['A'].mean()
rerata

6.333333333333333

In [5]:
df.query('A > @rerata')

    A   B   C   D   E   F
0  10  19  19   9   9  17
1  19   2  11  15  15   2