In [3]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [4]:
#Mempersiapkan data frame

data = {'Nama':['Boni', 'Andre', 'Karina', 'Aga'],
        'Jenis_Kelamin':['L', 'L', 'P', 'L'],
        'Usia':[18, 20, 16, 23]}

df = pd.DataFrame(data)
df

     Nama Jenis_Kelamin  Usia
0    Boni             L    18
1   Andre             L    20
2  Karina             P    16
3     Aga             L    23

In [5]:
#Menyimpan Data Frame sebagai file CSV

df.to_csv('data_peserta_csv') #Nama filenya

In [8]:
# df = pd.read_csv('data_peserta_csv')
df = pd.read_csv('data_peserta_csv', index_col=0) #kolom ke 0 akan berperan sebagai index

df

     Nama Jenis_Kelamin  Usia
0    Boni             L    18
1   Andre             L    20
2  Karina             P    16
3     Aga             L    23

In [10]:
df.to_csv('data_peserta.csv', index=False) #Membentuk file csv baru dan ttpi sudah tdk menyertakan index
df = pd.read_csv('data_peserta.csv')
df

     Nama Jenis_Kelamin  Usia
0    Boni             L    18
1   Andre             L    20
2  Karina             P    16
3     Aga             L    23