In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
#Mempersiapkan Data Frame

d = {'Col_1':[1, 2, 3, 4, 5],
     'Col_2':[15, 25, 35, 45, 55]}

df = pd.DataFrame(d)
df

   Col_1  Col_2
0      1     15
1      2     25
2      3     35
3      4     45
4      5     55

In [3]:
#Random Sampling Without Replacement

df.sample(n=4, replace=False, random_state=0)

   Col_1  Col_2
2      3     35
0      1     15
1      2     25
3      4     45

In [4]:
#Random Sampling With Replacement

df.sample(n=4, replace=True, random_state=0)

   Col_1  Col_2
4      5     55
0      1     15
3      4     45
3      4     45