In [1]:
#Terlebih dahulu mengimport modules pandas

import pandas as pd
print(pd.__version__)

1.2.4

In [4]:
#Mempersiapkan Data Frame

d = {'kolom_satu':[1, 2, 3, 4, 5],
     'kolom dua':[15, 25, 35, 45, 55]}

df = pd.DataFrame(d)
df

   kolom_satu  kolom dua
0           1         15
1           2         25
2           3         35
3           4         45
4           5         55

In [5]:
#Seleksi baris dengan query()

df.query('kolom_satu > 2')

   kolom_satu  kolom dua
2           3         35
3           4         45
4           5         55

In [8]:
df.query('`kolom dua` > 35')

   kolom_satu  kolom dua
3           4         45
4           5         55