In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
#Mempersiapkan data frame

df = pd.read_csv('./data/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
#Seleksi kolom dengan f-string

df['SepalWidthCm'].to_frame().head() #Untuk menyeleksi kolom SepalWidthCm

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [4]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head() #Untuk mengakses variabel part

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [5]:
df[['PetalWidthCm', 'PetalLengthCm']].head() #Menyeleksi 2 kolom sekaligus, dan tidak perlu memanggil to_frame karena melakukan seleksi 2 kolom

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [6]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head() #Nilai variabel diakses dengan memanfaatkan f string

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4