In [1]:
#Terlebih dahulu mengimport modules

import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
#Mempersiapkan Data Frame

d = {'Pelanggan':[15, 16, 17, 18],
     'Kepuasan':['Baik', 'Cukup', 'Buruk', 'Cukup']}

df = pd.DataFrame(d)
df

   Pelanggan Kepuasan
0         15     Baik
1         16    Cukup
2         17    Buruk
3         18    Cukup

In [4]:
#Tipe Data Ordinal Pada Pandas

from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['Buruk', 'Cukup', 'Baik', 'Sangat Baik'],
                                    ordered=True)

df['Kepuasan'] = df['Kepuasan'].astype(tingkat_kepuasan)
df

   Pelanggan Kepuasan
0         15     Baik
1         16    Cukup
2         17    Buruk
3         18    Cukup

In [5]:
df = df.sort_values('Kepuasan', ascending=True)
df

   Pelanggan Kepuasan
2         17    Buruk
1         16    Cukup
3         18    Cukup
0         15     Baik

In [6]:
df[df['Kepuasan'] > 'Cukup']

   Pelanggan Kepuasan
0         15     Baik